:root {

stroke-width: 20%;
transition-duration: 5ms
;
content-visibility: visible;



}table {


 shape-image-threshold: calc(5cef);
 nav-left: auto;
 max-width: fit-content;
 align-items: center;
 color-interpolation-filters: sRGB;


}table {



email






}